@import url('http://fonts.googleapis.com/css?family=Ubuntu');
@import url('http://fonts.googleapis.com/css?family=Mukta+Vaani');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: block;
}

ul {
    list-style: none;
}

a,
a:active,
a:link {
    text-decoration: none;
    color: #3942be;
}

a:hover{
    color: #dc3545;
    transition: all 0.3s;
    text-shadow: 0 0 1pt #dc3545;
}

.divide {
    background-color: #3942be;
}


.nav-item {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact, .contact a {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #3942be;
    color: #ffffff;
    font-size: 14px;
}
.contact a:hover {
    color: #dc3545;
}

.contact .fa,
.contact .fas,
.contact .fab {
    font-size: 44px;
}

.contact .phone,
.contact .location,
.contact .social{
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact .number,
.contact .city,
.contact .workhours,
.contact .social .tripadvisor,
.contact .number{
    padding-left:10px;
}


.contact .phone .number{
    font-size: 28px;
}

@media (max-width: 768px) {

    .contact {
        font-size: 8px;
    }

    .contact .fa,
    .contact .fas,
    .contact .fab {
        font-size: 24px;
    }

    .contact .number,
    .contact .city,
    .contact .workhours,
    .contact .social .tripadvisor,
    .contact .number{
        padding-left:7px;
    }

    .contact .phone .number {
        font-size: 10px;
    }

}

.navbar-brand-contact {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: bold;
    color: #be391f;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 48px;
    /*border: 2pt blue solid;*/
    border-radius: 5px;
    color: #be391f;
}

.card {
    border: #bec1f7 1pt solid;
}

.widget .card-title,
.services .card-title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 1pt #000;
}

.welcome .card-body,
.services .card-body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: italic;
    border-radius: 15px;
}

.widget {
    padding: 5px;
}

.widget .card-header {
    color: #f8f9fa;
    background-color: #dc3545;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.widget .card-body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.widget .card-body {
    color: #3942be;
    font-weight: bold;
}

.footer .organization,
.footer .credits {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: bold;
    color: #dc3545;
}

.footer .organization:hover,
.footer .credits:hover {
    font-weight: bold;
    color: #3942be;
    text-decoration: none;
    transition: all 0.3s;
    text-shadow: 0 0 1pt #000;
}

.goTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 32px;
}
